// body {
// margin: 0;
// letter-spacing: 0.03rem;
// font-family: Georgia, 'Times New Roman', Times, serif;
// line-height: 1.15;
// }

.search-form{
    margin-top: 30px;
} 

.form__container {
    display: flex;
    position: relative;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}
.form__input{
    display: block;
    width: 100%;
    height: 30px;
    border-color: #87cefa;
    padding: 15px;
    border-radius: 25px;
    text-align: left;
    font-size: 25px;
    font-family: cursive;
   
}

.form__button{
   position: absolute;
   width: 100px;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 25px;
    overflow: hidden;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    cursor: pointer;
    background-color: lightskyblue;
    font-weight: bold;
    transition: all .15s cubic-bezier(0.4,0,0.2,1);
}


.form__input:hover{
    border-color: lightseagreen;}
    
.form__input:active{
    border-color: lightblue;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
    padding: 15px;
}

.photo{
    margin-left: 30px;
    margin-top: 10px;
    height: 225px;
}

.photo-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: calc((100% - 40px)/4);
    margin: 5px;
}
.info{
    display: flex;
    justify-content: center;
    margin: 5px;
    padding: 15px;
}
.info-item{
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    text-decoration: none;
    font-family: cursive;
}

.fa{
    font-size: xx-large;
    color: aliceblue;
}

button {
    --c:  #0bf4f8; /* the color*/
    
    box-shadow: 0 0 0 .1em inset var(--c); 
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background: 
      var(--_g) calc(var(--_p,0%) - 100%) 0%,
      var(--_g) calc(200% - var(--_p,0%)) 0%,
      var(--_g) calc(var(--_p,0%) - 100%) 100%,
      var(--_g) calc(200% - var(--_p,0%)) 100%;
    background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
    outline-offset: .1em;
    transition: background-size .4s, background-position 0s .4s;
  }
  button:hover {
    --_p: 100%;
    transition: background-position .4s, background-size 0s;
  }
  button:active {
    box-shadow: 0 0 9e9q inset #0009; 
    background-color: var(--c);
    color: #fff;
  }
  
html {
  height:100%;
}

body {
  margin:0;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}
@keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }