body {
min-height: 100vh;
width: 100%;
background: black;
display: flex;
justify-content: center;
align-items: center;
}

.form__container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}
.form__input{
    border: none;
    padding: 15px;
}

.form__button{
   position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    background-color: lightskyblue;
}

.form__button :hover{
    background-color: lightseagreen;
}
.form__button:active{
    background-color: lightblue;
}



